.cover__subtitle{
margin: 0;
z-index: 99;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1.22;
max-width: 360px;
text-align: center;
color: #ffffff;
margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 425px){
    .cover__subtitle{
font-size: 14px;
line-height: 1.14;
max-width: 75%;
    }
    }
@media screen and (min-width: 321px) and (max-width: 375px){
    .cover__subtitle{
font-size: 14px;
line-height: 1.14;    
max-width: 75%;
    
        }
    }
@media screen and (min-width: 376px) and (max-width: 425px){
    .cover__subtitle{
font-size: 14px;
line-height: 1.14; 
max-width: 75%;
    
        }
    }
@media screen and (min-width: 426px) and (max-width: 767px){
    .cover__subtitle{
max-width: 46.875%;
font-size: 14px;
line-height: 1.14;     
        }
    }
@media screen and (min-width: 769px) and (max-width: 1024px){
    .cover__subtitle{
max-width: 35.15625%;
    
        }
    }