@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__link-container/header__link-container.css);
@import url(./__logo/header__logo.css);
.header{
    display: flex;
    max-width: 92.5%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 425px){
    .header{
    max-width: 90%;
    }
    }
@media screen and (min-width: 768px) and (max-width: 1023px){
    .header{
    max-width: 93.75%;
    }
}    
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .header{
    max-width: 90.625%;
    }
}    


    

