.footer__list-cell:nth-of-type(2n){
    padding-right: 18px;
    padding-left: 18px;

}
@media screen and (min-width: 320px) and (max-width: 767px){
.footer__list-cell:nth-of-type(2n){
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 0;
    padding-left: 0;
}
}