.lead__image{
   
  padding-bottom: 62.5%;
    text-align: center;
    width: 100%;
    background-image: url(../../../images/__image.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
