.cover__overlay{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    transition: .2s linear;
    min-height: 740px; 
    text-decoration: none;
      
}
.cover__overlay:before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    opacity: .3;
    background: #2A2C2F;
    min-height: 100%;  
}

.cover__overlay:hover{
    background: #2A2C2F;
    opacity: .8;
}

@media screen and (min-width: 320px) and (max-width: 342px){
    .cover__overlay{
    width: 100vw;
    min-height: 200px;
    }
}
@media screen and (min-width: 343px) and (max-width: 374px){
    .cover__overlay{
    width: 100vw;
    min-height: 234.375px;
    }
}
@media screen and (min-width: 375px) and (max-width: 424px){
    .cover__overlay{
    width: 100vw;
    min-height: 265.625px;
    }
}
@media screen and (min-width: 425px) and (max-width: 596px){            
    .cover__overlay{
    width: 100vw;
    min-height: 320.500px;
    }
}
@media screen and (min-width: 597px) and (max-width: 768px){
    .cover__overlay{
    width: 100vw;
    min-height: 480px;
    }
}
@media screen and (min-width: 769px) and (max-width: 897px){
    .cover__overlay{
    width: 100vw;
    min-height: 550.500px;
    }
}
@media screen and (min-width: 898px) and (max-width: 1024px){
    .cover__overlay{
    width: 100vw;
    min-height: 640px;
    }
}              
            