.cover__title{
z-index: 99;
margin: 0;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 1.06;
max-width: 560px;
text-align: center;
text-decoration: none;
color: #FFFFFF;
opacity: 1;
margin: 0 auto;


}
@media screen and (min-width: 320px) and (max-width: 425px){
.cover__title{
font-size: 32px;
line-height: 1.09;
max-width: 288px;

    }
}
@media screen and (min-width: 426px) and (max-width: 597px){
.cover__title{
font-size: 32px;
line-height: 1.09;

    
        }
    }
