@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);
.place{
   display: grid;
    grid-template-columns: 460px minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content);
    row-gap: 48px;
    column-gap: 40px;
    margin-bottom: 80px;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .place{
        grid-template-columns: minmax(min-content, max-content);
        
        margin-bottom: 48px;
    }
    .place:last-of-type{
        margin-bottom: 64px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .place{
        grid-template-columns: 340px minmax(min-content, max-content);
        

    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .place{
        grid-template-columns: 440px minmax(min-content, max-content);
        
    }

}



